.light-theme {
    background-color: #fff;
    color: #10182f;
  }
  
  .dark-theme {
    background-color: #10182f;
    color: #f8f8f8;
  }
  
  .dark-theme-nav {
    background-color: #10182f;
    color: #f8f8f8;
  }

  .Header-light {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    color: #10182f;
  }

  .Header-dark {
    background-color: #10182f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    color: #ffffff;
  }

  .light-bottom{
    background-color: #10182f;
    color: #f8f8f8;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #10182f;
  }
  .dark-bottom{
    background-color: #fff;
    color: #10182f;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #f8f8f8;
  }